// colors
$black: #000;
$christine: #bd6728;
$claret: #732427;
$dell: #496e33;
$fun-blue: #293680;
$hot-curry: #7b4e24;
$lochmara: #3867a7;
$nobel: #999;
$pompadour: #7b2358;
$scooter: #33919d;
$very-light-gray: #ccc;
$wasabi: #88ae3f;
$white-smoke: #f2f2f2;
$windsor: #562d81;