.site-content {
	padding: 0 1.2rem 1em;
	@media screen and (min-width: 48.76em) {
		padding: 0 0 1em;
	}
}

.page-content {
	margin-top: 0;
}

.page-header {
	@extend %clearfix;
	margin-top: 2rem;
	padding-bottom: 0;
	text-align: center;
	@media screen and (min-width: 48.76em) {
		border-bottom: 1px solid $nobel;
	}
}
.page-title {
	padding-top: 0.5rem;
	font-size: 1.2em;
	@media screen and (min-width: 48.76em) {
		float: left;
		font-size: 1.5em;
		margin-bottom: 0;
	}
	.category-title,
	.reference-title {
		display: inline-block;
		margin-right: 0.5rem;
		text-transform: uppercase;
	}
	.category-title,
	.separator {
		display: none;
		@media screen and (min-width: 48.76em) {
			display: inline-block;
		}
	}
	.release-title {
		color: $claret;
		margin-left: 0.5rem;
		font-size: 1.1em;
		@media screen and (min-width: 48.76em) {
			font-size: 0.8em;
		}
	}
}

.release-tabs {
	@extend %clearfix;
	display: inline-block;
	margin: 1em 0 0;
	@media screen and (min-width: 48.76em) {
		display: block;
		float: right;
		margin-top: 0;
	}
	li {
		background-color: $white-smoke;
		border-top: 1px solid $very-light-gray;
		border-left: 1px solid $very-light-gray;
		border-bottom: 1px solid $very-light-gray;
		float: left;
		list-style: none;
		padding: 1rem;
		@media screen and (min-width: 48.76em) {
			border-bottom: none;
			padding: 1rem 1.2em;
		}
		&.active {
			background-color: #fff;
		}
		&:last-of-type {
			border-right: 1px solid $very-light-gray;
		}
	}
	.tab {
		color: $charcoal;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.release-content {
	clear: left;
	@media screen and (min-width: 48.76em) {
		margin-top: 2rem;
	}
	.subtitle {
		font-size: 1.2em;
		margin-bottom: 1em;
		text-transform: uppercase;
	}
	.reference-image {
		margin-bottom: 1em;
		@media screen and (min-width: 48.76em) {
			float: left;
			margin-right: 2.0833333%;
			width: 47.9166667%;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.reference-details {
		@media screen and (min-width: 48.76em) {
			float: left;
			width: 50%;
		}
	}
	.reference-title {
		font-size: 1.25em;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		text-transform: uppercase;
		@media screen and (min-width: 48.76em) {
			border-bottom: 1px solid $black;
		}
	}
}

.reference {
	@extend %clearfix;
	border-bottom: 1px solid $charcoal;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

.reference-info {
	@extend %clearfix;
	margin-bottom: 1em;
	.year,
	.country {
		float: left;
		margin-right: .5em;
		label {
			font-weight: bold;
		}
	}
}

.read-more {
	@extend .agile-button;
}

#secondary {
	.full-width & {
		display: none;
	}
	.sidebar & {
		display: block;
	}
}

.sidebar {
	#main {
		@media screen and (min-width: 48.76em) {
			width: 75%;
		}
	}
	#secondary {
		border-top: 1px solid $very-light-gray;
		padding-top: 1em;
		@media screen and (min-width: 48.76em) {
			border-top: none;
			float: left;
			margin-right: 2%;
			padding: 0;
			width: 23%;
		}
	}
	.page-header {
		.page-title {
			font-size: 1.5em;
			padding-bottom: 0.3em;
			text-transform: uppercase;
		}
	}
}

.left-sidebar {
	#main {
		@media screen and (min-width: 48.76em) {
			float: right;
		}
	}
}

.right-sidebar {
	#main {
		@media screen and (min-width: 48.76em) {
			float: left;
		}
	}
}