.site-content {
	border-left: 1px solid $nobel;
	padding-left: 1.2rem;
	@media screen and (min-width: 48.76em) {
		border: none;
	}
}

.page-header {
	@extend %clearfix;
	padding-bottom: 0;
	border-bottom-color: $nobel;
}
.page-title {
	float: left;
	font-size: 1.5em;
	padding-top: 0.5rem;
	.category-title {
		display: inline-block;
		// font-size: 1.3em;
		margin-right: 0.5rem;
		text-transform: uppercase;
	}
	.release-title {
		margin-left: 0.5rem;
		font-size: 0.8em;
	}
}

.release-tabs {
	@media screen and (min-width: 48.76em) {
		float: right;
	}
	.tab {
		background-color: $white-smoke;
		border-top: 1px solid $very-light-gray;
		border-left: 1px solid $very-light-gray;
		color: $charcoal;
		display: block;
		float: left;
		padding: 1rem 1.2em;
		&.active {
			background-color: #fff;
		}
		&:last-of-type {
			border-right: 1px solid $very-light-gray;
		}
	}
}

.release-content {
	clear: left;
	margin-top: 3rem;
}