.site-content {
	border-left: 1px solid $nobel;
	padding-left: 1.2rem;
	@media screen and (min-width: 48.76em) {
		border: none;
	}
}

.page-header {
	@extend %clearfix;
	padding-bottom: 0;
	border-bottom-color: $nobel;
}
.page-title {
	float: left;
	font-size: 1.5em;
	padding-top: 0.5rem;
	.category-title,
	.reference-title {
		display: inline-block;
		// font-size: 1.3em;
		margin-right: 0.5rem;
		text-transform: uppercase;
	}
	.release-title {
		margin-left: 0.5rem;
		font-size: 0.8em;
	}
}

.release-tabs {
	margin-bottom: 0;
	@media screen and (min-width: 48.76em) {
		float: right;
	}
	li {
		background-color: $white-smoke;
		border-top: 1px solid $very-light-gray;
		border-left: 1px solid $very-light-gray;
		float: left;
		list-style: none;
		padding: 1rem 1.2em;
		&.active {
			background-color: #fff;
		}
		&:last-of-type {
			border-right: 1px solid $very-light-gray;
		}
	}
	.tab {
		color: $charcoal;
	}
}

.release-content {
	clear: left;
	margin-top: 3rem;
	.reference-image {
		float: left;
		margin-right: 2.0833333%;
		width: 47.9166667%;
		img {
			width: 100%;
			height: auto;
		}
	}
	.reference-details {
		float: left;
		width: 50%;
	}
	.reference-title {
		border-bottom: 1px solid $charcoal;
		font-size: 1.25em;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		text-transform: uppercase;
	}
}

.reference {
	@extend %clearfix;
	border-bottom: 1px solid $very-light-gray;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

.reference-info {
	@extend %clearfix;
	margin-bottom: 1em;
	.year,
	.country {
		float: left;
		margin-right: .5em;
		label {
			font-weight: bold;
		}
	}
}

.reference-content {
	.read-more {
		background-color: $yellow-green;
		color: $white;
		display: inline-block;
		padding: 0.5em 1em;
		&:hover {
			background-color: darken($yellow-green, 10%);
			text-decoration: none;
		}
	}
}