body {
	border-top: 8px solid $yellow-green;
	color: $charcoal;
	font-family: Lato, sans-serif;
}

blockquote {
	background-color: $white-smoke;
	border-left: 3px solid $very-light-gray;
	font-style: italic;
	padding: .5em;
}

 p {
 	font-size: 0.9em;
 	font-weight: 300;
 }

 a:focus {
	outline: none;
}

ul {
	margin-left: 1em;
}

#page {
	left: 0;
	transition: left 0.2s ease-in;
	position: relative;
	&.menu-active {
		left: 25rem;
		.site-branding {
			border-left: 1px solid $nobel;
		}
		.site-content {
			border-left: 1px solid $nobel;
		}
		.site-footer {
			border-left: 1px solid $nobel;
		}
	}
	@media screen and (min-width: 48.76em) {
		left: auto;
		&.menu-active {
			left: auto;
		}
	}
}

.site-header,
.site-content,
.footer-content,
.site-footer-bar-inner {
	@media screen and (min-width: 48.76em) {
		width: 78rem;
		margin: 0 auto;
	}
	@media screen and (min-width: 60.01em) {
		width: 96rem;
	}
}

.site-footer {
	background-color: $white-smoke;
	border-top: 1px solid $very-light-gray;
}

.footer-content {
	@extend %clearfix;
	margin-top: 1.5em;
	list-style: none;
	.widget {
		padding: 0 1em;
		@media screen and (min-width: 48.76em) {
			float: left;
			width: 50%;
		}
		@media screen and (min-width: 60.01em) {
			width: 25%;
		}
		ul {
			list-style: none;
			margin: 0;
		}
		a {
			color: $charcoal;
			font-size: 0.8em;
			padding: 0.3em 0;
			&:hover {
				color: $yellow-green;
			}
		}
	}
	.widgettitle {
		border-bottom: 1px solid $charcoal;
		margin-bottom: 0.5em;
		padding-bottom: 0.5em;
	}
}

.footer-logo {
	width: 25%;
	float: left;
	img {
		max-width: 10em;
	}
}

.site-footer-bar-inner {
	@extend %clearfix;
	text-align: center;
}

.site-footer-bar {
	@extend %clearfix;
	background-color: $yellow-green;
	color: $white;
	padding: 0.5em 0;
	.site-info {
		@media screen and (min-width: 48.76em) {
			float: right;
		}
	}
	.copyright {
		display: inline-block;
		margin-left: 1em;
	}
	.footer-menu {
		display: inline-block;
		@media screen and (min-width: 48.76em) {
			display: block;
			float: left;
		}
		ul {
			@extend %clearfix;
			list-style: none;
			margin: 0;
		}
		a {
			border-right: 1px solid $white;
			color: $white;
			padding: 0 0.5em;
		}
		li {
			float: left;
			&:first-child {
				a {
					padding-left: 0;
				}
			}
			&:last-child {
				a {
					border-right: none;
				}
			}
		}
	}
}

.widget-title {
	border-bottom: 1px solid $charcoal;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	text-transform: uppercase;
}

.agile-button {
	background-color: $yellow-green;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: $white;
	display: inline-block;
	font-size: 1em;
	padding: 0.5em 1em;
	text-shadow: none;
	&:hover,
	&:focus {
		background-color: darken($yellow-green, 10%);
		color: $white;
		box-shadow: none;
		text-decoration: none;
	}
	&:visited {
		color: $white;
	}
}

// remove plugin list
.panel {
	box-shadow: none;
}