.site-header {
	position: relative;
}

.site-branding {
	border-left: 1px solid $nobel;
	border-bottom: 1px solid $nobel;
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 5.5rem;
}

.site-title {
	margin: 0 auto;
	width: 11rem;
	@media (min-width: 48.75em) {
		float: left;
		clear: none;
		width: auto;
	}
	img {
		@media (min-width: 48.75em) {
			max-width: 14.5rem;
		}
	}
}

.site-description {
	display: none;
	@media (min-width: 48.76em) {
		clear: none;
		display: block;
		float: left;
		margin-top: 2.4rem;
		margin-left: 1em;
	}
}