.site-header {
	position: relative;
	.site-date {
		color: $charcoal;
		display: none;
		font-size: .75em;
		position: absolute;
		top: 0.3em;
		left: 0;
		@media screen and (min-width: 48.76em) {
			display: block;
		}
	}
}

.site-branding {
	border-bottom: 1px solid $nobel;
	padding: 1rem 0;
	height: 5.5rem;
	@media screen and (min-width: 48.76em) {
		border: none;
		height: 8.6rem;
		padding: 3rem 0 1.5rem;
	}
	@media screen and (min-width: 60.01em) {
		height: 11.5rem;
		padding: 4rem 0 2.5rem;
	}
}

.site-title {
	margin: 0 auto;
	width: 11rem;
	@media screen and (min-width: 48.76em) {
		float: left;
		clear: none;
		width: auto;
	}
	img {
		@media screen and (min-width: 48.76em) {
			max-width: 14.5rem;
		}
		@media screen and (min-width: 60.01em) {
			max-width: 18rem;
		}
	}
}

.site-description {
	display: none;
	font-size: .9em;
	@media screen and (min-width: 48.76em) {
		clear: none;
		display: block;
		float: left;
		margin-top: 2.4rem;
		margin-left: 1em;
	}
	@media screen and (min-width: 60.01em) {
		font-size: 1em;
		margin-top: 3.2rem;
	}
}

#lang_sel_click,
#lang_sel {
	position: absolute;
	right: 0.5em;
	top: 1rem;
	width: 6.5em;
	@media screen and (min-width: 48.76em) {
		top: 0.3em;
		right: 0;
		width: 9em;
	}
	a {
		border: 1px solid $very-light-gray;
	}
	.iclflag {
		margin-right: 0.3em;
		margin-bottom: 0.3em;
	}
	li {
		width: 100%;
	}
	ul ul {
		width: 100%;
	}
	.icl_lang_sel_translated {
		display: none;
		@media screen and (min-width: 48.76em) {
			display: inline;
		}
	}
}

.utility-menu {
	@extend %clearfix;
	background-color: $white-smoke;
	border-bottom: 1px solid $nobel;
	.main-navigation & {
		padding: 0.5em 0;
	}
	@media screen and (min-width: 48.76em) {
		background-color: transparent;
		border-bottom: none;
		padding: 0;
		position: absolute;
		top: -3em;
		right: 0;
	}
	.home {
		float: left;
		margin-left: 1em;
		a {
			color: $charcoal;
			&:hover {
				color: $yellow-green;
			}
			i {
				font-size: 1.5em;
			}
		}
		@media screen and (min-width: 48.76em) {
			display: none;
		}
	}
	.search {
		float: right;
		margin-right: 0.3em;
		@media screen and (min-width: 48.76em) {
			float: none;
			margin-right: 0;
		}
		.search-field {
			border-radius: 0;
			font-size: 0.8em;
		}
		.search-submit {
			border-radius: 0;
			border: none;
			box-shadow: none;
			display: none;
			line-height: 1.2;
			text-shadow: none;
			&:hover {
				background-color: $yellow-green;
				color: $white;
			}
			@media screen and (min-width: 48.76em) {
				display: inline-block;
			}
		}
	}
}