.site-header {
	position: relative;
}

.site-branding {
	border-left: 1px solid $nobel;
	border-bottom: 1px solid $nobel;
	padding: 1rem 0;
	height: 5.5rem;
	@media screen and (min-width: 48.76em) {
		border: none;
		height: 7.1rem;
		padding: 1.5rem 0;
	}
	@media screen and (min-width: 60.01em) {
		height: 10rem;
		padding: 2.5rem 0;
	}
}

.site-title {
	margin: 0 auto;
	width: 11rem;
	@media screen and (min-width: 48.76em) {
		float: left;
		clear: none;
		width: auto;
	}
	img {
		@media screen and (min-width: 48.76em) {
			max-width: 14.5rem;
		}
		@media screen and (min-width: 60.01em) {
			max-width: 18rem;
		}
	}
}

.site-description {
	display: none;
	font-size: .9em;
	@media screen and (min-width: 48.76em) {
		clear: none;
		display: block;
		float: left;
		margin-top: 2.4rem;
		margin-left: 1em;
	}
	@media screen and (min-width: 60.01em) {
		font-size: 1em;
		margin-top: 3.2rem;
	}
}