.menu-toggle {
	border: 1px solid $black;
	color: $black;
	cursor: pointer;
	font-size: 1.2em;
	position: absolute;
	top: 1rem;
	left: 1.2rem;
	text-align: center;
	width: 3rem;
	@media screen and (min-width: 48.76em) {
		display: none;
	}
}

.main-navigation {
	width: 25rem;
	position: absolute;
	top: 0;
	left: -25rem;
	@media screen and (min-width: 48.76em) {
		width: 100%;
		position: relative;
		left: initial;
		top: initial;
	}
	.menu-title {
		border-bottom: 1px solid $nobel;
		padding: 1.85rem 1rem;
		text-align: center;
		text-transform: uppercase;
		@media screen and (min-width: 48.76em) {
			display: none;
		}
	}
	.back {
		border: 1px solid $nobel;
		cursor: pointer;
		display: none;
		padding-top: 3px;
		padding-bottom: 1px;
		position: absolute;
		top: 1rem;
		width: 3rem;
		height: 3rem;
		text-align: center;
	}
	&.item-active {
		.back {
			display: block;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.references,
	.highlights,
	.releases {
		display: none;
		h3 {
			border-bottom: 1px solid $nobel;
			font-weight: bold;
			padding: 1rem 1rem 1rem 2rem;
			text-transform: uppercase;
			@media screen and (min-width: 48.76em) {
				padding: 1rem 1rem 0.7rem 0;
			}
		}
		li {
			border-bottom: 1px solid $very-light-gray;
			font-size: .9em;
			padding: 1rem 1rem 1rem 2.5rem;
			&:last-child {
				border-bottom: 1px solid $charcoal;
			}
			@media screen and (min-width: 48.76em) {
				padding: 0.5rem 0.5rem 0.5rem 0;
				&:last-child {
					border-bottom: none;
				}
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
		a {
			color: $charcoal;
			&:hover {
				color: $yellow-green;
			}
		}
		.title {
			line-height: 1.4;
			text-transform: uppercase;
		}
	}
	.highlights {
		li:last-child {
			border-bottom: none;
		}
	}
	.releases {
		li {
			@media screen and (min-width: 48.76em) {
				border-bottom: none;
			}
			a {
				display: block;
			}
		}
	}
	.featured-release {
		display: none;
		padding-top: 1rem;
		.title {
			line-height: 1.4;
			margin: 1rem 0 0.5rem;
			text-transform: uppercase;
		}
	}
}

.top-level {
	@extend %clearfix;
	> li {
		border-left: 5px solid transparent;
		position: relative;
		&:after {
			border-bottom: 1px solid $nobel;
			bottom: 0;
			content: "";
			position: absolute;
			width: 100%;
		}
		&:nth-of-type(1) {
			border-color: $claret;
		}
		&:nth-of-type(2) {
			border-color: $pompadour;
		}
		&:nth-of-type(3) {
			border-color: $windsor;
		}
		&:nth-of-type(4) {
			border-color: $fun-blue;
		}
		&:nth-of-type(5) {
			border-color: $wasabi;
		}
		&:nth-of-type(6) {
			border-color: $lochmara;
		}
		&:nth-of-type(7) {
			border-color: $scooter;
		}
		&:nth-of-type(8) {
			border-color: $dell;
		}
		&:nth-of-type(9) {
			border-color: $hot-curry;
		}
		&:nth-of-type(10) {
			border-color: $christine;
		}
		@media screen and (min-width: 48.76em) {
			border-top: 5px solid transparent;
			border-left: none;
			display: block;
			float: left;
			margin-right: 2.5px;
			position: static;
			&:after {
				display: none;
			}
			&:first-child {
				border-top-width: 5px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		@media screen and (min-width: 60.01em) {
			margin-right: 3px;
		}
	}
	.active {
		.submenu-wrapper {
			padding-bottom: 1em;
			@media screen and (min-width: 48.76em) {
				background-color: #fff;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
				position: absolute;
				width: 100%;
				left: 0;
				z-index: 20;
			}
		}
		.releases,
		.references,
		.highlights {
			display: block;
			@media screen and (min-width: 48.76em) {
				float: right;
				margin-left: 1%;
				width: 20%;
			}
		}
		.releases {
			@media screen and (min-width: 48.76em) {
				margin-right: 1%;
			}
		}
		.featured-release {
			@media screen and (min-width: 48.76em) {
				display: block;
				float: left;
				width: 33.333333%;
				margin-left: 2.6666667%;
			}
		}
	}
	.inactive {
		display: none;
		@media screen and (min-width: 48.76em) {
			display: block;
		}
	}
}

.category-name {
	border-left: 1px solid $white;
	color: $black;
	display: block;
	padding: 1rem;
	position: relative;
	text-decoration: none;
	@media screen and (min-width: 48.76em) {
		background-color: $white-smoke;
		border-left: none;
		border-top: 1px solid $white;
		display: table-cell;
		font-size: .75em;
		max-width: 9rem;
		padding: 0 1rem;
		text-align: center;
		height: 4em;
		vertical-align: middle;
	}
	@media screen and (min-width: 60.01em) {
		font-size: .9em;
		[lang="pt-br"] & {
			font-size: .8em;
		}
		[lang="es-ES"] & {
			font-size: .75em;
		}
		max-width: 11.6rem;
	}
	&:hover,
	&:visited,
	&:focus {
		color: $black;
		text-decoration: none;
	}
	&:hover,
	&.active {
		color: #fff;
	}
	.next {
		position: absolute;
		right: 1rem;
		top: 1.5rem;
		@media screen and (min-width: 48.76em) {
			display: none;
		}
	}
	&.active {
		border-bottom: 1px solid $very-light-gray;
		font-weight: bold;
		@media screen and (min-width: 48.76em) {
			border-bottom: none;
			font-weight: normal;
		}
		.next {
			display: none;
		}
	}
	li:nth-of-type(1) & {
		&:hover,
		&.active {
			background-color: $claret;
		}
	}
	li:nth-of-type(2) & {
		&:hover,
		&.active {
			background-color: $pompadour;
		}
	}
	li:nth-of-type(3) & {
		&:hover,
		&.active {
			background-color: $windsor;
		}
	}
	li:nth-of-type(4) & {
		&:hover,
		&.active {
			background-color: $fun-blue;
		}
	}
	li:nth-of-type(5) & {
		&:hover,
		&.active {
			background-color: $wasabi;
		}
	}
	li:nth-of-type(6) & {
		&:hover,
		&.active {
			background-color: $lochmara;
		}
	}
	li:nth-of-type(7) & {
		&:hover,
		&.active {
			background-color: $scooter;
		}
	}
	li:nth-of-type(8) & {
		&:hover,
		&.active {
			background-color: $dell;
		}
	}
	li:nth-of-type(9) & {
		&:hover,
		&.active {
			background-color: $hot-curry;
		}
	}
	li:nth-of-type(10) & {
		&:hover,
		&.active {
			background-color: $christine;
		}
	}
}