.menu-toggle {
	border: 1px solid $black;
	color: $black;
	cursor: pointer;
	font-size: 1.2em;
	position: absolute;
	top: 1rem;
	left: 1.2rem;
	text-align: center;
	width: 3rem;
	@media screen and (min-width: 48.76em) {
		display: none;
	}
}

.main-navigation {
	width: 25rem;
	position: absolute;
	top: 0;
	left: -25rem;
	@media screen and (min-width: 48.76em) {
		width: 100%;
		position: relative;
		left: initial;
		top: initial;
	}
	.menu-title {
		border-bottom: 1px solid $nobel;
		padding: 1.85rem 1rem;
		text-align: center;
		text-transform: uppercase;
		@media screen and (min-width: 48.76em) {
			display: none;
		}
	}
	.back {
		border: 1px solid $nobel;
		cursor: pointer;
		display: none;
		padding-top: 3px;
		padding-bottom: 1px;
		position: absolute;
		top: 1rem;
		width: 3rem;
		height: 3rem;
		text-align: center;
	}
	&.item-active {
		.back {
			display: block;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.references,
	.highlights,
	.releases {
		display: none;
		h3,
		li {
			border-bottom: 1px solid $very-light-gray;
			padding: 1rem;
		}
		h3 {
			font-weight: bold;
			padding-left: 2rem;
		}
		li {
			padding-left: 2.5rem;
			@media screen and (min-width: 48.76em) {
				border-bottom: none;
			}
		}
		a {
			color: $charcoal;
			&:hover {
				color: $yellow-green;
			}
		}
	}
	.highlights {
		li:last-child {
			border-bottom: none;
		}
	}
	.featured-highlight {
		display: none;
	}
}

.top-level {
	@extend %clearfix;
	> li {
		border-bottom: 1px solid $nobel;
		@media screen and (min-width: 48.76em) {
			border-bottom: none;
			display: block;
			float: left;
			margin-right: 2.5px;
			&:last-child {
				margin-right: 0;
			}
		}
		@media screen and (min-width: 60.01em) {
			margin-right: 3px;
		}
	}
	.active {
		.submenu-wrapper {
			@media screen and (min-width: 48.76em) {
				background-color: #fff;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
				position: absolute;
				width: 100%;
				left: 0;
			}
		}
		.releases,
		.references,
		.highlights {
			display: block;
			@media screen and (min-width: 48.76em) {
				float: right;
				margin-left: 1%;
				width: 20%;
			}
		}
		.releases {
			@media screen and (min-width: 48.76em) {
				margin-right: 1%;
			}
		}
		.featured-highlight {
			@media screen and (min-width: 48.76em) {
				display: block;
				float: left;
				width: 33.333333%;
				margin-left: 2.6666667%;
			}
		}
	}
	.inactive {
		display: none;
		@media screen and (min-width: 48.76em) {
			display: block;
		}
	}
}

.category-name {
	border-left: 5px solid transparent;
	color: $black;
	display: block;
	padding: 1rem;
	position: relative;
	text-decoration: none;
	@media screen and (min-width: 48.76em) {
		background-color: $white-smoke;
		border-left: none;
		border-top: 5px solid transparent;
		display: table-cell;
		font-size: .75em;
		max-width: 7.5em;
		padding: 0 1rem;
		text-align: center;
		height: 4.5em;
		vertical-align: middle;
	}
	@media screen and (min-width: 60.01em) {
		font-size: 0.9em;
		max-width: 8em;
	}
	&:hover,
	&:visited,
	&:focus {
		color: $black;
		text-decoration: none;
	}
	&:hover,
	&.active {
		color: #fff;
	}
	.next {
		position: absolute;
		right: 1rem;
		top: 1.5rem;
		@media screen and (min-width: 48.76em) {
			display: none;
		}
	}
	&.active {
		border-bottom: 1px solid $very-light-gray;
		font-weight: bold;
		@media screen and (min-width: 48.76em) {
			border-bottom: none;
			font-weight: normal;
		}
		.next {
			display: none;
		}
	}
	li:nth-of-type(1) & {
		border-color: $claret;
		&:hover,
		&.active {
			background-color: $claret;
		}
	}
	li:nth-of-type(2) & {
		border-color: $pompadour;
		&:hover,
		&.active {
			background-color: $pompadour;
		}
	}
	li:nth-of-type(3) & {
		border-color: $windsor;
		&:hover,
		&.active {
			background-color: $windsor;
		}
	}
	li:nth-of-type(4) & {
		border-color: $fun-blue;
		&:hover,
		&.active {
			background-color: $fun-blue;
		}
	}
	li:nth-of-type(5) & {
		border-color: $wasabi;
		&:hover,
		&.active {
			background-color: $wasabi;
		}
	}
	li:nth-of-type(6) & {
		border-color: $lochmara;
		&:hover,
		&.active {
			background-color: $lochmara;
		}
	}
	li:nth-of-type(7) & {
		border-color: $scooter;
		&:hover,
		&.active {
			background-color: $scooter;
		}
	}
	li:nth-of-type(8) & {
		border-color: $dell;
		&:hover,
		&.active {
			background-color: $dell;
		}
	}
	li:nth-of-type(9) & {
		border-color: $hot-curry;
		&:hover,
		&.active {
			background-color: $hot-curry;
		}
	}
	li:nth-of-type(10) & {
		border-color: $christine;
		&:hover,
		&.active {
			background-color: $christine;
		}
	}
}