#page {
	left: 0;
	transition: left 0.2s ease-in;
	position: relative;
}

#page.menu-active {
	left: 25rem;
}

.menu-toggle {
	border: 1px solid $black;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 1.2rem;
	i {
		color: $black;
	}
}

.main-navigation {
	width: 25rem;
	left: -25rem;
	position: absolute;
	top: 0;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.references,
	.highlights,
	.releases {
		display: none;
		h3,
		li {
			border-bottom: 1px solid $very-light-gray;
			padding: 1rem;
		}
		h3 {
			padding-left: 2rem;
		}
		li {
			padding-left: 2.5rem;
		}
	}
	.highlights {
		li:last-child {
			border-bottom: none;
		}
	}
}

.top-level {
	> li {
		border-bottom: 1px solid $nobel;
	}
	.active {
		.releases,
		.references,
		.highlights {
			display: block;
			h3 {
				font-weight: bold;
			}
		}
		.category-name {
			border-bottom: 1px solid $nobel;
		}
	}
	.inactive {
		display: none;
	}
}

.category-name {
	border-left: 5px solid transparent;
	color: $black;
	display: block;
	padding: 1rem;
	position: relative;
	text-decoration: none;
	&:hover,
	&:visited {
		color: $black;
	}
	&:hover {
		background-color: $white-smoke;
	}
	&:after {
		content: '>';
		display: block;
		position: absolute;
		right: 0.8rem;
		top: 0.7rem;
	}
	li.active & {
		font-weight: bold;
		&:after {
			display: none;
		}
	}
	li:nth-of-type(1) & {
		border-color: $claret;
	}
	li:nth-of-type(2) & {
		border-color: $pompadour;
	}
	li:nth-of-type(3) & {
		border-color: $windsor;
	}
	li:nth-of-type(4) & {
		border-color: $fun-blue;
	}
	li:nth-of-type(5) & {
		border-color: $wasabi;
	}
	li:nth-of-type(6) & {
		border-color: $lochmara;
	}
	li:nth-of-type(7) & {
		border-color: $scooter;
	}
	li:nth-of-type(8) & {
		border-color: $dell;
	}
	li:nth-of-type(9) & {
		border-color: $hot-curry;
	}
	li:nth-of-type(10) & {
		border-color: $christine;
	}
}